# Pandas problems

In [5]:
import pandas as pd
import numpy as np

#### 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.b

In [19]:
data = pd.Series([10, 20, 30, 40, 50])

print(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### 2.Convert a Pandas Series to Python list and show its type

In [2]:
series = pd.Series([2, 4, 6, 8, 10])

series_list = series.tolist()

print(series_list, type(series_list))

[2, 4, 6, 8, 10] <class 'list'>

#### 3.Perform arithmetic operations on two Pandas Series

In [3]:
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

sum_series = series1 + series2
sub_series = series1 - series2
mul_series = series1 * series2
div_series = series1 / series2

print("Sum:\n", sum_series)
print("Subtraction:\n", sub_series)
print("Multiplication:\n", mul_series)
print("Division:\n", div_series)

Sum:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4: Raise elements of one array to the powers of elements in another array element-wise

In [7]:
array1 = np.array([0, 1, 2, 3, 4, 5, 6])
array2 = np.array([0, 1, 3, 5, 7, 9, 11])

# Raise elements of array1 to the powers of array2
result = np.power(array1, array2)

# Display the original array and the result
print("Original array:", array1)
print("Array elements raised to powers from second array:", result)

Original array: [0 1 2 3 4 5 6]
Array elements raised to powers from second array: [        1         1         8       243     16384   1953125 362797056]

#### 5.Create a Pandas DataFrame from a dictionary and index labels

In [21]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, ],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

#### 6 Display a summary of basic information about a DataFrame

In [28]:
df = pd.DataFrame(exam_data, index=labels)

# print(df)

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
           score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000

#### 7. Get the first 3 rows of a DataFrame

In [29]:
df = pd.DataFrame(exam_data, index=labels)

first_three_rows = df.head(3)

print(first_three_rows)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

#### 8.Select the 'name' and 'score' columns from a DataFrame

In [30]:
df = pd.DataFrame(exam_data, index=labels)

name_score_columns = df[['name', 'score']]
print(name_score_columns)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

#### 9.Select the 'name' and 'score' columns for rows 1, 3, 5, and 6

In [31]:
df = pd.DataFrame(exam_data, index=labels)

selected_rows = df.loc[['b', 'd', 'f', 'g'], ['name', 'score']]
print(selected_rows)

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

#### 10.Write a Python program to select the rows where the number of attempts in the examination is greater than 2.

In [32]:
attempts_gt_2 = df[df['attempts'] > 2]

print(attempts_gt_2)

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

#### 11.Count the number of rows and columns of a DataFrame

In [26]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

rows, columns = df.shape

print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 10
Number of columns: 4

#### 12.Select the rows where the score is missing (NaN)

In [27]:
# Select rows where 'score' is NaN
nan_score_rows = df[df['score'].isna()]

# Display the result
print(nan_score_rows)

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

#### 13.Select rows where the number of attempts is less than 2 and score is greater than 15

In [33]:

selected_rows = df[(df['attempts'] < 2) & (df['score'] > 15)]

print(selected_rows)

    name  score  attempts qualify
j  Jonas   19.0         1     yes

#### 14.Change the score in row 'd' to 11.5

In [34]:
df.loc['d', 'score'] = 11.5
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

#### 15.Calculate the sum of the examination attempts by the students

In [35]:
sum_attempts = df['attempts'].sum()

print(f"Total number of attempts: {sum_attempts}")

Total number of attempts: 19

#### 16.Calculate the mean score for each student in the DataFrame

In [36]:

mean_score = df['score'].mean()
print(f"Mean score: {mean_score}")

Mean score: 13.333333333333334

#### 17.Append a new row 'k' to the DataFrame and delete it

In [37]:
new_row = {'name': 'Suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}
df.loc['k'] = new_row

print("DataFrame after adding new row:")
print(df)

df = df.drop('k')

print("DataFrame after deleting the new row:")
print(df)

DataFrame after adding new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
DataFrame after deleting the new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

#### 18.Sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order

In [38]:
sorted_df = df.sort_values(by=['name', 'score'], ascending=[False, True])

print("Sorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

#### 19.Replace the 'qualify' column values ('yes' and 'no') with True and False

In [39]:
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

print("Updated DataFrame with 'qualify' column as True/False:")
print(df)

Updated DataFrame with 'qualify' column as True/False:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

#### 20.Delete the 'attempts' column from the DataFrame

In [40]:
df = pd.DataFrame(exam_data, index=labels)

df = df.drop(columns=['attempts'])

print("DataFrame after deleting 'attempts' column:")
print(df)

DataFrame after deleting 'attempts' column:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

#### 21. Insert a new column in the existing DataFrame

In [41]:
df['status'] = ['passed', 'failed', 'passed', 'failed', 'failed', 'passed', 'passed', 'failed', 'failed', 'passed']

print("DataFrame after inserting 'status' column:")
print(df)

DataFrame after inserting 'status' column:
        name  score qualify  status
a  Anastasia   12.5     yes  passed
b       Dima    9.0      no  failed
c  Katherine   16.5     yes  passed
d      James    NaN      no  failed
e      Emily    9.0      no  failed
f    Michael   20.0     yes  passed
g    Matthew   14.5     yes  passed
h      Laura    NaN      no  failed
i      Kevin    8.0      no  failed
j      Jonas   19.0     yes  passed

#### 22. Iterate over rows in the DataFrame

In [42]:
for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['name']}, Score: {row['score']}, Qualify: {row['qualify']}")

Index: a, Name: Anastasia, Score: 12.5, Qualify: yes
Index: b, Name: Dima, Score: 9.0, Qualify: no
Index: c, Name: Katherine, Score: 16.5, Qualify: yes
Index: d, Name: James, Score: nan, Qualify: no
Index: e, Name: Emily, Score: 9.0, Qualify: no
Index: f, Name: Michael, Score: 20.0, Qualify: yes
Index: g, Name: Matthew, Score: 14.5, Qualify: yes
Index: h, Name: Laura, Score: nan, Qualify: no
Index: i, Name: Kevin, Score: 8.0, Qualify: no
Index: j, Name: Jonas, Score: 19.0, Qualify: yes

#### 23.Get list of DataFrame column headers

In [43]:
column_headers = df.columns.tolist()

print("List of DataFrame column headers:")
print(column_headers)

List of DataFrame column headers:
['name', 'score', 'qualify', 'status']